# Database
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/dbname

# Server
PORT=5004

# HubSpot OAuth
HUBSPOT_CLIENT_ID=your_hubspot_client_id
HUBSPOT_CLIENT_SECRET=your_hubspot_client_secret Key
HUBSPOT_REDIRECT_URI=http://localhost:5004/oauth/hubspot/callback

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/---/---/---